<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>検索 & 一覧 → 編集</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{_parts/header :: main('検索 & 一覧 → 編集')}"></header>
<div class="container">

  <div class="col-md-7 col-lg-8" th:object="${salesProduct}">
    <h4 class="mb-3">販売商品</h4>
    <form class="needs-validation" novalidate th:action="@{|/sales-products/${salesProductId}|}" th:method="put">
      <div class="row g-3 mb-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">販売商品名称</label>
          <input class="form-control" id="firstName" placeholder="" required
                 th:field="*{salesProductName.name}"
                 type="text"
                 value="日立 “自動投入×ＡＩお洗濯” 大容量１２ｋｇタイプの タテ型洗濯乾燥機 ビートウォッシュ ">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">販売商品略称</label>
          <input class="form-control" id="lastName" placeholder="" required th:field="*{salesProductName.abbreviation}"
                 type="text"
                 value="日立  ビートウォッシュ ">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>

        <div class="row mt-3">
        <div class="col-6">
          <label for="sales-period" class="form-label">販売期間</label>
          <div class="input-group mb-3" id="sales-period">
            <label for="sales-period-from" class="form-label"></label>
            <input class="form-control" id="sales-period-from" th:field="*{salesPeriod.from}" type="date"
                   value="2023-04-12"
            >
            <span class="input-group-text">〜</span>
            <label for="sales-period-to" class="form-label"></label>
            <input class="form-control" id="sales-period-to" th:field="*{salesPeriod.to}" type="date"
                   value="2023-04-30"
            >
          </div>
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-3">
            <label class="form-label" for="price">販売価格</label>
            <input class="form-control" id="price" placeholder="" required th:field="*{price.retailPrice}"
                   type="text"
                   value="159,980">
            <div class="invalid-feedback">
              販売価格 required.
            </div>
          </div>
          <div class="col-md-3">
            <label for="normal-price" class="form-label">通常価格</label>
            <input class="form-control" id="normal-price" placeholder="" required th:field="*{price.listPrice}"
                   type="text"
                   value="316,800">
            <div class="invalid-feedback">
              通常価格 required.
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-5">
            <label for="color" class="form-label">色</label>
            <input class="form-control" id="color" placeholder="" required th:field="*{color}"
                   type="text"
                   value="白">
          </div>

          <div class="col-md-5">
            <label for="size" class="form-label">サイズ</label>
            <input class="form-control" id="size" placeholder="" required th:field="*{size}"
                   type="text"
                   value="L">
          </div>

        </div>

        <div class="col-12">
          <label for="description" class="form-label">商品説明</label>
          <textarea class="form-control" id="description" rows="3" th:field="*{description}">
“押して＋たたいて＋もみ洗う”＆“大流量のナイアガラシャワー”で洗いムラを抑えてきわだつ白さに！
          </textarea>
          <div class="invalid-feedback">
            商品説明を入力してください
          </div>
        </div>

        <div class="col-12">
          <label for="remark" class="form-label">備考</label>
          <textarea class="form-control" id="remark" rows="5" th:field="*{remark}">
メーカー保証付き商品について

ショップチャンネルでは商品に同封されているメーカー保証書への、お買い上げ日の記入を省略させていただいております。
商品に同封のお届け商品明細票に記載されている「出荷日」を保証開始日としておりますので、メーカー保証書と一緒に大切に保管してください。
保証内容についてのご質問・修理依頼等は直接各メーカーまでお問い合わせください。
※メーカー保証書が同封されていない商品については、適用されませんのでご注意ください。
          </textarea>
        </div>

      </div>
      <button class="btn btn-primary" type="submit">更新</button>
      <button class="btn btn-outline-primary" id="cancel" type="button">戻る</button>
    </form>
  </div>
</div>
<script>
  document.getElementById("cancel").addEventListener("click", () => {
    window.history.back();
  })
</script>
</body>
</html>