<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>一覧 → 詳細 → 編集</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{_parts/header :: main('一覧 → 詳細 → 編集')}"></header>
<div class="container">

  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">ジュエリー</h4>

    <table class="table">
      <tr>
        <th style="width: 30%">販売商品名称</th>
        <td>１４Ｋホワイトゴールド 国産アコヤパール スタッドピアス</td>
      </tr>
      <tr>
        <th>販売商品略称</th>
        <td>アコヤパール スタッドピアス</td>
      </tr>
      <tr>
        <th>販売期間</th>
        <td>2023-04-12 〜 2023-04-30</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>66,980</td>
      </tr>
      <tr>
        <th>通常価格</th>
        <td>96,800</td>
      </tr>
      <tr>
        <th>色</th>
        <td>白</td>
      </tr>
      <tr>
        <th>サイズ</th>
        <td>L</td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td>思わず息を飲むシンプルかつ清楚な佇まい。強く輝く美しいテリがお顔周りをぱっと明るく演出。
        </td>
      </tr>
      <tr>
        <th>備考</th>
        <td>セミラウンドシェイプの国産アコヤパールを１粒（片耳）あしらった、スタッドピアスです。
          真珠専門の鑑別機関にて、強い真珠光沢（テリグレードＩ）との結果が出た、非常に上質で美しいパールを使用。
          ポストには１４Ｋホワイトゴールドを使用しました。
          シリコーンキャッチ付きです。
          定番のスタッドピアスは、ひとつお持ちいただくと重宝します。
        </td>
      </tr>


    </table>
    <a th:href="@{/jewelries/12323432/edit}" class="btn btn-primary">編集</a>
    <a th:href="@{/jewelries}" class="btn btn-outline-primary">戻る</a>
  </div>
</div>
</body>
</html>