<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>検索＆一覧</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{_parts/header :: main('検索＆一覧 → 詳細')}"></header>

<div class="container">

  <h4 class="mb-3">受注</h4>
  <div class="row mt-3">
    <div class="col-6">
      <div class="list-group w-auto">
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-123" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">受注番号</h6>
              <p class="mb-0">12345678</p>
            </div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-building" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">顧客名</h6>
              <p class="mb-0">アナハイム・エレクトロニクス</p>
            </div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-calendar-event" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">受注日</h6>
              <p class="mb-0">2023-01-10</p>
            </div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-house" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">届け先住所</h6>
              <p class="mb-0">東京都 千代田区1-1-1</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="list-group w-auto">
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-currency-yen" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">受注金額</h6>
              <p class="mb-0">120,153</p>
            </div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-currency-yen" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">税抜き金額</h6>
              <p class="mb-0">109,230</p>
            </div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-tag" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">消費税</h6>
              <p class="mb-0">10,923</p>
            </div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-box" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">送料</h6>
              <p class="mb-0">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <table class="table table-striped table-hover mt-4">
    <thead>
    <tr>
      <th></th>
      <th>商品名称</th>
      <th class="text-end">数量</th>
      <th class="text-end">商品単価</th>
    </tr>
    </thead>
    <tbody>
    <tr class="align-middle">
      <td class="text-center">
        <i class="bi bi-bag-check"></i>
      </td>
      <td>アルパイン テックグローブ</td>
      <td class="text-end">2</td>
      <td class="text-end">19,690</td>
    </tr>
    <tr class="align-middle">
      <td class="text-center">
        <i class="bi bi-bag-check"></i>
      </td>
      <td>ドライ シームレス ダウンハガー900 #1</td>
      <td class="text-end">1</td>
      <td class="text-end">69,850</td>
    </tr>
    <tr class="align-middle">
      <td class="text-center">
        <i class="bi bi-bag-check"></i>
      </td>
      <td>チェーンスパイク</td>
      <td class="text-end">1</td>
      <td class="text-end">5,830</td>
    </tr>
    <tr class="align-middle">
      <td class="text-center">
        <i class="bi bi-bag-check"></i>
      </td>
      <td>スノーリッジ</td>
      <td class="text-end">1</td>
      <td class="text-end">14,960</td>
    </tr>

    </tbody>
    <tfoot>
    </tfoot>
  </table>

  <a th:href="@{/sales-orders?(q=)}" class="btn btn-outline-primary">戻る</a>
</div>


</body>
</html>