<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>一覧 → 編集</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{_parts/header :: main('一覧 → 編集')}"></header>
<div class="container">


  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">顧客</h4>

    <form class="needs-validation" novalidate
          th:action="@{|${customerId}|}"
          th:method="put"
          th:object="${customer}">
      <div class="row g-3 mb-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">顧客名称</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="株式会社東栄"
                 required th:field="*{customerName.name}">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">顧客名称カナ</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="カブシキカイシャ トウエイ"
                 required th:field="*{customerName.nameKana}">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>

        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input class="form-control" id="email" placeholder="you@example.com" th:field="*{contact.email}"
                 type="email"
                 value="human-resource@toei.example.com"
          >
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="col-md-3">
          <label for="zip" class="form-label">郵便番号</label>
          <input type="text" class="form-control" id="zip" placeholder="" value="105-0004"
                 required th:field="*{contact.address.postalCode}">
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>

        <div class="col-12">
          <label for="address" class="form-label">住所</label>
          <input type="text" class="form-control" id="address" placeholder="市区町村" value="千代田区1-1-1"
                 required th:field="*{contact.address.addressLine}">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="col-12">
          <label for="address2" class="form-label">住所 2 <span class="text-body-secondary">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="建物名" value="ジオ701"
                 th:field="*{contact.address.building}">
        </div>

        <div class="col-md-4">
          <label for="telephone" class="form-label">電話番号</label>
          <input type="text" class="form-control" id="telephone" placeholder="090-1111-1111" value="03-2505-3385"
                 th:field="*{contact.phoneNumber}">
          <div class="invalid-feedback">
            電話番号を入力してください
          </div>
        </div>

        <div class="col-md-4">
          <label for="pic" class="form-label">担当者名</label>
          <input type="text" class="form-control" id="pic" placeholder="杉本 賢雄" value="小此木 祐希"
                 th:field="*{contact.personInCharge}">
          <div class="invalid-feedback">
            Please provide a valid 担当者名
          </div>
        </div>

        <div class="col-md-4">
          <label for="division" class="form-label">担当部署</label>
          <input type="text" class="form-control" id="division" placeholder="人事部" value="経営企画部"
                 th:field="*{contact.division}">
          <div class="invalid-feedback">
            Please provide a valid 担当部署
          </div>
        </div>

      </div>
      <a class="btn btn-outline-primary" th:href="@{/customers}">キャンセル</a>
      <button class="btn btn-primary" type="submit">保存</button>
    </form>
  </div>

</div>
</body>
</html>