<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ui.catalogue.infrastructure.datasource.sales.product.SalesProductMapper">

    <select id="summariesOf" resultType="ui.catalogue.domain.model.sales.product.summary.SalesProductSummary">
        SELECT
        販売商品.販売商品ID AS "salesProductId.value",
        販売商品.販売商品コード AS "salesProductCode.value",
        販売商品内容.商品名称 AS "salesProductName.name",
        販売商品内容.商品略称 AS "salesProductName.abbreviation",
        販売商品内容.販売開始日 AS "salesPeriod.from.value",
        販売商品内容.販売終了日 AS "salesPeriod.to.value"
        FROM 販売.販売商品
        INNER JOIN 販売.販売商品リビジョン ON 販売商品.販売商品ID = 販売商品リビジョン.販売商品ID
        INNER JOIN 販売._現在の販売商品リビジョン
        ON 販売商品リビジョン.販売商品ID = _現在の販売商品リビジョン.販売商品ID
        AND 販売商品リビジョン.リビジョン = _現在の販売商品リビジョン.リビジョン
        INNER JOIN 販売.販売商品内容
        ON 販売商品リビジョン.販売商品ID = 販売商品内容.販売商品ID
        AND 販売商品リビジョン.リビジョン = 販売商品内容.リビジョン
        <where>
            (
            販売商品内容.商品名称 LIKE CONCAT('%', #{criteria.name}, '%')
            OR 販売商品内容.商品略称 LIKE CONCAT('%', #{criteria.name}, '%')
            )
            <if test="!criteria.salesPeriod.from.isEmpty()">
                <![CDATA[
                  AND #{criteria.salesPeriod.from.value} <= 販売商品内容.販売開始日
                ]]>
            </if>
            <if test="!criteria.salesPeriod.to.isEmpty()">
                <![CDATA[
                  AND 販売商品内容.販売終了日 <= #{criteria.salesPeriod.to.value}
                ]]>
            </if>
        </where>

    </select>

</mapper>